/***********************************
GENERAL
************************************/

.portfolio-wrapper {
  max-width: 90%;
  margin: 0 auto;
  margin-right: 3.5%;
  padding: 0 5%;
  flex-grow: 1;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 .7em 0;
  color: #585858;
}

p {
  margin-top: .5em;
}

/***********************************
HEADING
************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 20px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
  padding: 0 5%;
}

h2 {
  font-family: 'Bellefair', serif;
  margin: -5px 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

.secondary-name {
  padding: 5px 0 4px 0;
  margin-top: 2px;
  background: rgba(255, 255, 255, 0.15);
}

.main-name {
  font-family: 'Julius Sans One', sans-serif;
  margin: 15px 0;
  font-size: 2.3em;
  line-height: 0.7em;
  border: none;
  background-color: transparent;
}

nav a {
  font-family: 'Julius Sans One', sans-serif;
  font-size: .9em;
}

body {
  font-family: 'Crimson Text', serif;
  background: #ccc;
  color: #313131;
  font-weight: normal;
  font-size: 1.05em;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}


/***********************************
NAVIGATION
************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 30px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding: 15px 10px;
}



/***********************************
FOOTER
************************************/

footer {
  font-size: 1.05em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
  font-family: 'Crimson Text', serif;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}


/***********************************
PAGE: PORTFOLIO
************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 100%;
  margin: 2.5%;
  margin-bottom: 10%;
  padding-bottom: 3%;
  background-color: #f5f5f5;
  color: #bdc3c7;
  box-shadow: 0px 0px 20px 0px rgba(27, 27, 27, 0.35);
  border-radius: 5px;
  /*min-height: 24em;*/
}

#gallery li h4 {
  margin: 0;
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.07em;
  color: #585858;
}

.coming-soon {
  margin: 0;
  padding-top: 1%;
  /*padding-left: 5%;*/
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  color: #787a7b;
  text-align: center;
  /*border-bottom: 1px solid #d4d4d4;*/
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  padding-top: 1%;
  font-size: 1em;
  color: #313131;
  min-height: 8vh;
}

#gallery a:focus {
  outline:0;
}

.live-site h3 {
  color: #444343;
  text-decoration: underline;
  text-align: right;
  font-size: 1em;
  font-weight: lighter;
  margin-right: 6%;
}

.live-site h3:hover {
  color: green;
}

.languages-list {
  padding-left: 5%;
  padding-top: 3%;
  border-top: 1px solid #adadad;
  cursor: default;
}

.languages span {
  color: #f9f9f9;
  background-color: #8e8e8e;
  border-radius: 2px;
  padding: 0 6px;
}

.languages span:hover {
  color: gray;
  background-color: #8a8a8a3f;
}

/***********************************
PAGE: ABOUT
************************************/

.profile-photo {
  display: block;
  max-width: 175px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

#about-me {
  margin-bottom: 70px;
}

#about-me h2 {
  color: rgb(75, 75, 75);
  margin-bottom: 15px;
  font-size: 1.35em;
}

.content-header {
  padding: 6px 10px 1px 10px;
  margin-bottom: 20px;
  background: linear-gradient(160deg, #656565 0%, #a5a5a5b3 80%);
  color: #fff;
  font-size: 1.2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#about-me .content-header {
  margin-bottom: 0;
}

#courses .content-header {
  margin-bottom: 1px;
}

#skills {
  margin-bottom: 70px;
}

#skills h5 {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: 1.15em;
  color: #4b4b4b;
  font-family: 'Bellefair', serif;
  font-weight: 100;
	animation: text_color 1s infinite alternate;
}

@keyframes text_color {
  from {
    color:#dcdcdc;
  }
	to {
    color: #4b4b4b;
  }
}

.skills-list svg {
  width: 55px;
}

.column {
  margin: 10px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#skills button {
  border: none;
  background-color: #fff;
  padding: 0;
}

button:focus {
  outline: 0;
}

.svg-header {
  display: inline;
  border-bottom: 3px solid #fff;
  color: #313131;
  font-size: 1.3em;
}

.svg-section {
  display: none;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 3px;
  padding: 20px 10px;
  background-color: #dcdcdc;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: #313131;
}

.svg-section h4 {
  font-family: 'Bellefair', serif;
  font-weight: normal;
  font-size: 1.1em;
}

.svg-section ul {
  list-style: square;
}

/*--- html icon ---*/

.html-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}

.html-icon-container:hover .html-icon {
  transform: scale(1.3);
}

.html-icon2 {
  transition: transform .4s ease-out;
  transform-origin: 50% 50%;
}

.html-icon-container:hover .html-icon2 {
  transform: rotateY(180deg);
}

/*--- css icon ---*/

.css-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}

.css-icon-container:hover .css-icon {
  transform: scale(1.3);
}

.css-icon2 {
  transition: transform .4s ease-out;
  transform-origin: 50% 50%;
}

.css-icon-container:hover .css-icon2 {
  transform: rotateY(180deg);
}

/*--- javascript icon ---*/

.js-icon {
  transition: transform .2s ease-out;
  transform-origin: 80% 80%;
}

.js-icon-container:hover .js-icon {
  transform: scale(1.35);
}

/*--- jquery icon ---*/

.jquery-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 30%;
}

.jquery-icon-container:hover .jquery-icon {
  transform: scale(1.25);
}

/*--- bootstrap icon---*/

.bootstrap-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}

.bootstrap-icon-container:hover .bootstrap-icon {
  transform: scale(.8);
}

/*--- git icon---*/

.git-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}

.git-icon-container:hover .git-icon {
  /* transform: scale(.8); */
  transform: rotate(360deg);
  transition-duration: .4s;
}

/*--- sass icon ---*/

.sass-icon {
  transition: transform .7s ease-out;
  transform-origin: 50% 50%;
}

.sass-icon-container:hover .sass-icon {
  transform: rotateY(360deg);
}

/*--- heroku icon ---*/

.heroku-icon {
  transition: transform .2s ease-out;
  transform-origin: 50% 50%;
}

.heroku-icon-container:hover .heroku-icon {
  transform: scale(.8);
}

/*--- mysql icon ---*/

.mysql-icon {
  transition: transform .3s ease-out;
  transform-origin: 70% 70%;
}

.mysql-icon-container svg {
  transform: scale(1.3);
}

.mysql-icon-container:hover .mysql-icon {
  transform: rotate(-45deg) scale(1.9);
}

/*--- csharp icon ---*/

.csharp-icon {
  transition: transform .7s ease-out;
  transform-origin: 50% 50%;
}

.csharp-icon-container:hover .csharp-icon {
  transform: rotateZ(360deg);
}

/*--- dotnet icon ---*/

.dotnet-icon {
  transition: transform .7s ease-out;
  transform-origin: 50% 50%;
}

.dotnet-icon-container:hover .dotnet-icon {
  transform: rotateX(360deg);
}

/*--- php icon ---*/

.php-icon {
  transition: transform .7s ease-out;
  transform-origin: 50% 50%;
}

.php-icon-container svg {
  transform: scale(1.1);
}

.php-icon-container:hover .php-icon {
  transform: rotateY(360deg);
}

/*--- mongo icon ---*/

.mongo-icon {
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;
}

.mongo-icon-container:hover .mongo-icon {
  transform: rotateY(541deg);
}

/*--- express icon ---*/

.express-icon {
  transition: transform .4s ease-out;
  transform-origin: 50% 50%;
}

.express-icon-container:hover .express-icon {
  transform: rotateY(180deg);
}

.express-icon2 {
  transition: transform .4s ease-out;
  transform-origin: 45% 50%;
}

.express-icon-container:hover .express-icon2 {
  transform: rotateY(360deg);
}

/*--- react icon ---*/

.react-icon {
  transition: transform .7s ease-out;
  transform-origin: 50% 50%;
}

.react-icon-container:hover .react-icon {
  transform: rotateX(360deg);
}

/*--- nodejs icon ---*/

.nodejs-icon {
  transition: transform .4s ease-out;
  transform-origin: 50% 50%;
  transform: scale(1.5);
}

.nodejs-icon-container:hover .nodejs-icon {
  transform: scale(1.7);
}

.nodejs-icon2 {
  transition: transform .4s ease-out;
  transform-origin: 45% 50%;
}

.nodejs-icon-container:hover .nodejs-icon2 {
  transform: rotateZ(360deg);
}

/*--- google icon ---*/

.google-icon {
  transition: transform .6s ease-out;
  transform-origin: 50% 50%;
}

.google-icon-container:hover .google-icon {
  transform: rotateZ(360deg);
}

.google-icon2 {
  transition: transform .5s ease-out;
  transform-origin: 45% 50%;
}

.google-icon-container:hover .google-icon2 {
  transform: rotateZ(360deg);
}
.google-icon3 {
  transition: transform .5s ease-out;
  transform-origin: 45% 50%;
}

.google-icon-container:hover .google-icon3 {
  transform: rotateZ(360deg);
}
.google-icon4 {
  transition: transform .3s ease-out;
  transform-origin: 45% 50%;
}

.google-icon-container:hover .google-icon4 {
  transform: rotateZ(360deg);
}

.google-icon9 {
  transition: transform .6s ease-out;
  transform-origin: 45% 50%;
}

.google-icon-container:hover .google-icon9 {
  transform: rotateX(360deg);
}



/*--------- COURSES ---------*/

.full-course-list {
  display: none;
}

table {
  width: 100%;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #57a0a9;
  box-shadow: 8px 9px 13px 0px #b7b7b7;
}

thead th {
  font-weight: 400;
  background: #57a0a9;
  color: #FFF;
}

tr {
  background: #eaf1f3;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

th, td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  text-align: right;
  font-size: .9em;
  font-style: italic;
  color: #646769;
  background: #fff;
}

tbody th {
  color: #313131;
}

.course-skills {
  width: 45%;
}

.table-course-title {
  width: 30%;
}

#short-list-button {
  display: none;
}

#full-list-button a {
  color: #fff;
}

@keyframes color_change {
  from {
    border: 1px solid #ccc;
    background: #ccc;
    color: #d4d4d4;
  }
	to {
    border-color: #57a0a9;
    background: #57a0a9;
    color: #fff;
    border-radius: 2px;
  }
}

#full-list-button {
  color: #fff;
  border-radius: 1px;
  padding: 8px 10px;
  margin-top: 10px;
  box-shadow: 8px 9px 13px 0px #b7b7b7;
  font-family: 'Julius Sans One', sans-serif;
  animation: color_change 1.4s infinite alternate;
  float: right;
}

#full-list-button:hover {
  border-color: #57a0a9;
  background: #57a0a9;
  color: #fff;
  animation: none;
}

#short-list-button {
  border: 1px solid #d8d8d8;
  background: #fff;
  color: #757575;
  border-radius: 2px;
  padding: 7px 10px;
  font-family: 'Julius Sans One', sans-serif;
  transition-duration: .3s;
  float: right;
}

#short-list-button:hover {
  border-color: #fff;
  background: #57a0a9;
  color: #fff;
}


/* Community Involvement */
#community h4 {
  font-family: 'Bellefair', serif;
  font-weight: normal;
  color: rgb(75, 75, 75);
  font-size: 1.25em;
  margin: 0;
}

#community p {
  font-family: 'Bellefair', serif;
  margin-bottom: 30px;
  font-size: 1.1em;
}


/***********************************
PAGE: CONTACT
************************************/

#primary h3,
#secondary h3 {
  margin-bottom: 13px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../svg/phone.svg');
}

.contact-info li.mail a {
  background-image: url('../svg/mail.svg');
}

.contact-info li.linkedin a {
  background-image: url('../svg/linkedin.svg');
}

#primary {
  margin-bottom: 40px;
}

/***********************************
COLORS
************************************/

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* header */
header {
  /* background: linear-gradient(160deg, #02ccba 0%, #7f92c8 80%); */
  background: linear-gradient(229deg, #15bb90, #158ebb, #15abbb, #dbbc5c);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

/* nav background on mobile */
nav {
  background: #0FC6BB;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;

}

/* selected nav link */
nav a.selected, nav a:hover {
  text-decoration: underline;
}

#primary,
#secondary,
#community,
#skills {
  background: #fff;
  padding: 0 0 30px 0;
  box-shadow: 8px 9px 13px 0px #b7b7b7;
}

#skills,
#community {
  /* box-shadow: inset -1px 0px 20px 2px; */
  box-shadow: 8px 9px 13px 0px #b7b7b7;
}

#community ul {
  list-style: square;
  padding: 10px 60px;
}

#courses {
  margin-bottom: 100px;
}

#primary p {
  padding: 0 20px;
}

#secondary ul {
  padding: 10px 20px;
}

#about-me {
  border-radius: 5px;
  background-color: #fdfdfd;
  /* box-shadow: inset -1px 0px 20px 2px; */
  box-shadow: 8px 9px 13px 0px #b7b7b7;
}

.profile-div {
  padding: 30px;
}

#primary,
#secondary,
#community,
#skills,
#courses {
  border-radius: 5px;
}

.row {
  margin: 0 20px;
}

.back-to-top {
  font-family: 'Julius Sans One', sans-serif;
  border-radius: 5px;
  padding: 10px 0;
  margin: 3em 4em 0 4em;
  border: none;
  background-color:#b8bf4a;
  color: #fff;
  transition-duration: .5s;
}

.back-to-top:hover {
  background-color:#fff;
  color: #505050;
  
}

/***********************************
Responsive Layout
************************************/

/*mobile landscape layout*/
@media screen and (min-width: 660px) {


  /***********************************
  PAGE: PORTFOLIO
  ************************************/

  #gallery li {
    width: 45%;
    padding-bottom: .8%;
    margin-bottom: 2.5%;
    border-radius: 5px;
  }

  #gallery li:nth-child(3n),
  #gallery li:nth-child(5n),
  #gallery li:nth-child(7n) {
    clear: left;
  }

  #gallery li:nth-child(6n),
  #gallery li:nth-child(11n) {
    clear: right;
  }

  #gallery li:nth-child(7n),
  #gallery li:nth-child(8n),
  #gallery li:nth-child(9n),
  #gallery li:nth-child(10n) {
    clear: left;
    float: right;
  } 

  #gallery li a p {
    min-height: 13vh;
  }

  /***********************************
  PAGE: ABOUT
  ************************************/


  .profile-photo {
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .secondary-name {
    font-size: 1.13em;
    padding: 3px 0 2px 6px;
    margin-top: 0;
    background: linear-gradient(160deg, rgba(230, 230, 230, 0.4) 0%, rgba(255,255,255,0) 50%);
  }

  #about-me h2 {
    display: inline;
  }

  .margin-top {
    margin-top: 19px;
  }

  .skills-list svg {
    width: 75px;
  }

  .column {
    margin: 5px 20px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
    margin: 0 5px;
  }

  .back-to-top {
    margin: 3em 6em 0 6em;
  }
  
  /* .row {
    justify-content: space-between;
    align-items: flex-start;
  } */

  /***********************************
  TWO COLUMN LAYOUT
  ************************************/

  #primary {
    width: 47%;
    float: left;
  }

  #secondary {
    width: 47%;
    float: right;
  }

  /***********************************
  HEADER
  ************************************/

  .portfolio-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

 #portfolio-body {
    padding-top: 130px;
  }

  body {
    padding-top: 160px;
  }

  .main-header {
    padding: 15px 0 10px 0;
    margin-bottom: 60px;
    position: fixed;
    box-shadow: 0 8px 50px -10px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 1000;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  nav {
    background: none;
    float: right;
    font-size: .9em;
    margin-right: 5%;
    margin-top: 23px;
    text-align: right;
    width: 45%;
  }

  nav a {
    font-size: .9em;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    transition-duration: .1s;
  }

  nav a:hover {
    text-decoration: none;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  nav a.selected {
    text-decoration: none;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }


  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
    padding: 0;
  }

  h1 {
   font-size: 2em;
  }

  h2 {
   font-size: 1.1em;
   margin-bottom: 20px;
  }

  #gallery li {
    box-shadow: 7px 9px 20px 0px rgba(27, 27, 27, 0.45);
    transition-duration: .4s;
  }

  #gallery li:hover {
    box-shadow: 19px 20px 25px 1px rgba(90, 90, 90, 0.63);
    transform: scale(1.03);
  }

}

/*tablet landscape and desktop layout*/
@media screen and (min-width: 1020px) {

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(3n),
  #gallery li:nth-child(5n) {
    clear: right;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  #gallery li:nth-child(7n),
  #gallery li:nth-child(8n),
  #gallery li:nth-child(9n),
  #gallery li:nth-child(10n),
  #gallery li:nth-child(11n) {
    clear: left;
    float: right;
  }

  #gallery li a p {
    min-height: 8vh;
  }

  #skills {
    padding: 0 0 70px 0;
  }

  .skills-list svg {
    width: 80px;
  }

  .column {
    margin: 5px 30px;
  }

  .back-to-top {
    margin: 3em 25em 0 25em;
  }

}

/*tablet landscape and desktop layout*/
@media screen and (min-width: 1300px) {

  .back-to-top {
    margin: 3em 35em 0 35em;
  }

  .column {
    margin: 10px 40px;
  }

}
